*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./images/Maaret-background.jpg);
    background-size: cover;
    background-position: center;
    }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #ff6b81;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #ff6b81;
    transition: .4s;
}

button {
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

button:hover {
    transform: scale(1.2);
}

.me {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px  0px  20px;
    font-size: 75px;
    letter-spacing: 2px;
}

h3 {
    color: white;
    margin: 20px  0px  20px;
    font-size: 20px;
}

.social, .social a {
    color: white;
    font-size: 30px;
    padding-top: 10px;
}

.support {
    padding-top: 30px;
}

.about {
    width: 100%;
    padding: 100px  0px;
    background-color: white;
}

.about img {
    height: auto;
    width: 400px;
    border-radius: 50%;
    padding-right: 20px;
}

.about-text {
    width: 550px;
}

.about-main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #ff6b81;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-text p {
    padding-bottom: 30px;
}

.about-text h6 {
    font-size: 16px;
    color: #ff6b81;
    padding-bottom: 5px;
    padding-top: 10px;
}

.speaking img {
    border-radius: 0%;
    width: 30px;
    height: auto;
    padding-right: 1px;
}

.awards img {
    border-radius: 0%;
    width: 120px;
    height: auto;
    padding-right: 20px;
}

.books img {
    border-radius: 0%;
    width: auto;
    height: 150px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.causes {
    width: 100%;
    padding: 100px  0px;
    background-color: whitesmoke;
    text-align: center;
}

.causes-big img {
    padding-top: 20px;
    border-radius: 10%;
    width: 200px;
    height: auto;
    padding-right: 20px;
}

.causes h2 {
    color: #ff6b81;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contents, .upcoming {
    width: 100%;
    padding: 100px  0px;
    background-color: #101010;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px; 
    text-transform: capitalize;
    margin-bottom: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    color: #ff6b81;
    display: block;
    margin: 25px 0px;
}

.card h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.preview p {
    color: white;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #ff6b81;
    cursor: pointer;
}

.contact {
    background-color: #ff6b81;
    text-align: center;
}

.contact h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding-top: 10px;
}

.upcoming ul li {
    font-size: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
    display: list-item;
    padding-bottom: 10px;
    padding-top: 10px;
}

.upcoming a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.contents2 {
    width: 100%;
    padding: 10px  0px;
    background-color: white;
    text-align: center;
}


.contents2 h2, h3{
    width: 100%;
    padding: 20px  0px;
    text-align: center;
    color: #ff6b81;
    background-color: white;
}

.contents2 * {
    color: black;
    font-size: 16px;
    text-align: center;
}