html {
  background: url(img/maaret.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 24;
}



h1 {

   font-size: 150;
   text-align: center;
   width: 100%;
   color: white;
}

span {
  font-size: 30;
  }

a {
    font-size: 24;
    color: white;
    }
