*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./images/Maaret-background.jpg);
    background-size: cover;
    background-position: center;
    }

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
    transform: translateY(-20%);}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #ff6b81;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #ff6b81;
    transition: .4s;
}

button {
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

button:hover {
    transform: scale(1.2);
}

.me {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px  0px  20px;
    font-size: 75px;
    letter-spacing: 2px;
}

h3 {
    color: white;
    margin: 10px  0px  10px;
    font-size: 20px;
}

.social a {
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

.social a:hover {
    color: gold;
}


.support {
    padding-top: 20px;
}

.about {
    width: 100%;
    padding: 100px  0px;
    background-color: white;
}

.about img {
    height: auto;
    width: 400px;
    border-radius: 50%;
    padding-right: 20px;
}

.about-text {
    width: 580px;
}

.about-main {
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #ff6b81;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-text p {
    padding-bottom: 30px;
}

.about-text h6 {
    font-size: 16px;
    color: #ff6b81;
    padding-bottom: 5px;
    padding-top: 10px;
}

.speaking img {
    border-radius: 0%;
    width: 30px;
    height: auto;
    padding-right: 1px;
}

.awards img {
    border-radius: 0%;
    width: 120px;
    height: auto;
    padding-right: 20px;
}

.books img {
    border-radius: 0%;
    width: auto;
    height: 150px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.causes {
    width: 100%;
    padding: 100px  0px;
    background-color: whitesmoke;
    text-align: center;
}

.causes-big img {
    padding-top: 20px;
    border-radius: 10%;
    width: 200px;
    height: auto;
    padding-right: 20px;
}

.causes h2 {
    color: #ff6b81;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contents, .upcoming{
    width: 100%;
    padding: 100px  0px;
    background-color: #101010;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 980px; 
    text-transform: capitalize;
    margin-bottom: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    color: #ff6b81;
    display: block;
    margin: 25px 0px;
}

.card h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.preview p {
    color: white;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #ff6b81;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #ff6b81;
    cursor: pointer;
}

.contact {
    background-color: #ff6b81;
    text-align: center;
}

.contact h2 {
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding-top: 10px;
}

.contact p {
    margin-bottom: 10px;
}

.upcoming ul li {
    font-size: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
    display: list-item;
    padding-bottom: 10px;
    padding-top: 10px;
}

.upcoming a {
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
}

.upcoming a:hover {
    color: gold;
}


.contents2 {
    width: 100%;
    padding: 10px  0px;
    background-color: white;
    text-align: center;
}

.contents2-title {
    width: 100%;
    padding: 20px  0px;
    text-align: center;
    color: #ff6b81;
    background-color: white;
}

.contents2 p {
    color: black;
    font-size: 16px;
    text-align: center;
}

.header {
    color: #ff6b81;
    text-align: center;
}

.talks, .workshops_tutorials, .trainings {
    width: 100%;
    padding: 30px  0px;
    background-color: white;
    text-align: center;
}

.box2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box2 img {
    border-radius: 10%;
    width: 380px;
    height: auto;
    padding-right: 0px;
    padding-bottom: 20px;
}

.card2 {
    min-width: 420px;
    height: 420px;
    width: 420px;
    padding: 20px 20px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card2 p {
    font-size: 14px;
    color: white;
    display: block;
    margin: 25px 0px;
}

.timecircle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #ff6b81;
  }

.status {
    width: 20%;
    color: white;
    position: relative;
    left: 80%;
    top: -25px;
    font-size: 12px;
    font-style: italic;
}

.talktitle {
    color: #ff6b81;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.talktype {
    font-size: 14px;
    color: gold;
    margin-bottom: 6px;
    margin-top: 6px;
    text-transform: uppercase;
}

.wherewhenwhere {
    font-size: 12px;
    color: white;
    margin-bottom: 4px;
}

.talktheme {
    font-size: 12px;
    color: lightskyblue;
    margin-top: 20px;
    margin-bottom: 4px;
}

.card2 i {
    font-size: 20px;
    color: #ff6b81;
    display: block;
    margin: 30px  0px;
    position: relative;
    display: inline;
}

.card2 a {
    text-decoration: none;
}


.card2text {
    color: white;
    margin-bottom: 10px;
} 

.card3 {
    min-width: 380px;
    height: 640px;
    width: 380px;
    padding: 20px 20px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card3 p {
    font-size: 14px;
    color: white;
    display: block;
    margin: 25px 0px;
}

.card3 a {
    text-decoration: none;
}

.card3text {
    color: white;
    margin-bottom: 10px;
}

a:visited {
    color: white;
}

.quicklinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.quicklinks ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

.quicklinks ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.quicklinks ul li a:hover {
    color: #ff6b81;
    transition: .4s;
}

.sectiondescr h2, p {
    padding-left: 20px;
    padding-right: 20px;
}

/* Styles for me elsewhere and trainings */

.dark {
    width: 100%;
    padding: 100px  0px;
    background-color: #101010;
}

.dark h2 {
    color: white;
    font-size: 60px;
    width: 980px; 
    text-transform: capitalize;
    margin-bottom: 30px auto;
    text-align: center;
}

.dark ul li {
    font-size: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
    display: list-item;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dark a {
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
}

.dark a:hover {
    color: gold;
}


.light {
    width: 100%;
    padding: 100px  0px;
    background-color: white;
}

.light h2 {
    color: #ff6b81;
    font-size: 60px;
    width: 980px; 
    text-transform: capitalize;
    margin-bottom: 30px auto;
    text-align: center;
}

.light p {
    color: black;
    font-size: 20px;
    text-align: center;
}

.light ul li {
    font-size: 20px;
    text-align: center;
    color: black;
    list-style-type: none;
    display: list-item;
    padding-bottom: 10px;
    padding-top: 10px;
}

.light a {
    color: black;
    text-decoration: underline;
    text-transform: capitalize;
}

.light a:hover {
    color: gold;
}