html {
  font-family: 'Raleway';
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Container holding the image and the text */
.container {
  color: white;
  position: relative;
}

.name {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
}

.punchline {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.social {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;

}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: yellow;
  text-decoration: none;
}

.support {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

img.headshot{
  max-width: 100%;
  max-height: 100%;
}

img.flag {
}

img.awards {
  border-radius: 50%;
  width: 10%;
}

img.books {
  height: 200px;
  border: 1px solid black;
  margin-top: 3px;
}

img.causes {
  height: 100px;
  margin-top: 3px;
  margin-block: 5px;
}

.flags-container {
  color:black;
}

h4 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  margin-bottom: -2px;
}

a.blacktext:link {
  color: black;
}

a.blacktext:visited {
  color: black;
}

ul {
  list-style-type: none;
}

li.bullet {
  font-size: 12px;
}

.training-class {
  width: 80%;
  padding-left: 10%;
}

.training-left {
  padding-right: 10px;
  vertical-align: center;
  float: left;
  display: inline-block;
  width: 20%;
}

.training-right {
  vertical-align: top;
  float: right;
  display: inline-block;
  width: 70%;
}


.circle {
  font-size: 30px;
  width:150px;
  height:150px;
  border-radius: 50%;
  line-height: 0;
  position: relative;
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  box-shadow: inset -8px -7px 4px 0px rgba(0,0,0,0.3);
}

.circle-txt {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

.title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
